<%= form_with(model: post) do |form| %>  
  <div>
    <%= form.label :title, "タイトル" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, "本文" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit "投稿" %>
  </div>
<% end %>
